# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
@EXPLICIT
https://conda.anaconda.org/pytorch/noarch/pytorch-mutex-1.0-cuda.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/_libgcc_mutex-0.1-main.conda
https://repo.anaconda.com/pkgs/main/linux-64/blas-1.0-mkl.conda
https://repo.anaconda.com/pkgs/main/linux-64/ca-certificates-2024.9.24-h06a4308_0.conda
https://conda.anaconda.org/nvidia/linux-64/cuda-cudart-11.8.89-0.tar.bz2
https://conda.anaconda.org/nvidia/linux-64/cuda-cupti-11.8.87-0.tar.bz2
https://conda.anaconda.org/nvidia/linux-64/cuda-nvrtc-11.8.89-0.tar.bz2
https://conda.anaconda.org/nvidia/linux-64/cuda-nvtx-11.8.86-0.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/cuda-version-12.4-hbda6634_3.conda
https://repo.anaconda.com/pkgs/main/linux-64/ld_impl_linux-64-2.40-h12ee557_0.conda
https://conda.anaconda.org/nvidia/linux-64/libcublas-11.11.3.6-0.tar.bz2
https://conda.anaconda.org/nvidia/linux-64/libcufft-10.9.0.58-0.tar.bz2
https://conda.anaconda.org/nvidia/linux-64/libcusolver-11.4.1.48-0.tar.bz2
https://conda.anaconda.org/nvidia/linux-64/libcusparse-11.7.5.86-0.tar.bz2
https://conda.anaconda.org/nvidia/linux-64/libnpp-11.8.0.86-0.tar.bz2
https://conda.anaconda.org/nvidia/linux-64/libnvjpeg-11.9.0.86-0.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/libstdcxx-ng-11.2.0-h1234567_1.conda
https://repo.anaconda.com/pkgs/main/noarch/tzdata-2024b-h04d1e81_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/libgomp-11.2.0-h1234567_1.conda
https://repo.anaconda.com/pkgs/main/linux-64/_openmp_mutex-5.1-1_gnu.conda
https://repo.anaconda.com/pkgs/main/linux-64/libgcc-ng-11.2.0-h1234567_1.conda
https://repo.anaconda.com/pkgs/main/linux-64/gmp-6.2.1-h295c915_3.conda
https://repo.anaconda.com/pkgs/main/linux-64/libcufile-1.9.1.3-h99ab3db_1.conda
https://repo.anaconda.com/pkgs/main/linux-64/libcurand-10.3.5.147-h99ab3db_1.conda
https://repo.anaconda.com/pkgs/main/linux-64/libffi-3.4.4-h6a678d5_1.conda
https://repo.anaconda.com/pkgs/main/linux-64/ncurses-6.4-h6a678d5_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/openssl-3.0.15-h5eee18b_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/tbb-2021.8.0-hdb19cb5_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/xz-5.4.6-h5eee18b_1.conda
https://repo.anaconda.com/pkgs/main/linux-64/yaml-0.2.5-h7b6447c_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/zlib-1.2.13-h5eee18b_1.conda
https://conda.anaconda.org/nvidia/linux-64/cuda-libraries-11.8.0-0.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/intel-openmp-2023.1.0-hdb19cb5_46306.conda
https://repo.anaconda.com/pkgs/main/linux-64/llvm-openmp-14.0.6-h9e868ea_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/mpfr-4.0.2-hb69a4c5_1.conda
https://repo.anaconda.com/pkgs/main/linux-64/readline-8.2-h5eee18b_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/tk-8.6.14-h39e8969_0.conda
https://conda.anaconda.org/nvidia/linux-64/cuda-runtime-11.8.0-0.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/mkl-2023.1.0-h213fc3f_46344.conda
https://repo.anaconda.com/pkgs/main/linux-64/mpc-1.1.0-h10f8cd9_1.conda
https://repo.anaconda.com/pkgs/main/linux-64/sqlite-3.45.3-h5eee18b_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/python-3.9.20-he870216_1.conda
https://conda.anaconda.org/pytorch/linux-64/pytorch-cuda-11.8-h7e8668a_5.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/brotli-python-1.0.9-py39h6a678d5_8.conda
https://repo.anaconda.com/pkgs/main/linux-64/certifi-2024.8.30-py39h06a4308_0.conda
https://repo.anaconda.com/pkgs/main/noarch/charset-normalizer-3.3.2-pyhd3eb1b0_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/gmpy2-2.1.2-py39heeb90bb_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/idna-3.7-py39h06a4308_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/markupsafe-2.1.3-py39h5eee18b_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/mkl-service-2.4.0-py39h5eee18b_1.conda
https://repo.anaconda.com/pkgs/main/linux-64/mpmath-1.3.0-py39h06a4308_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/networkx-3.2.1-py39h06a4308_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/pysocks-1.7.1-py39h06a4308_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/pyyaml-6.0.2-py39h5eee18b_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/typing_extensions-4.11.0-py39h06a4308_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/wheel-0.44.0-py39h06a4308_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/jinja2-3.1.4-py39h06a4308_1.conda
https://repo.anaconda.com/pkgs/main/linux-64/numpy-base-1.24.3-py39h060ed82_1.conda
https://repo.anaconda.com/pkgs/main/linux-64/pip-24.2-py39h06a4308_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/sympy-1.13.2-py39h06a4308_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/urllib3-2.2.3-py39h06a4308_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/requests-2.32.3-py39h06a4308_1.conda
https://repo.anaconda.com/pkgs/main/linux-64/mkl_fft-1.3.11-py39h5eee18b_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/mkl_random-1.2.8-py39h1128e8f_0.conda
https://repo.anaconda.com/pkgs/main/linux-64/numpy-1.24.3-py39hf6e8229_1.conda
